nav{
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    overflow: hidden;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li{
    display: inline;
    margin-left: 10px;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover{
    background-color: #111;
}